@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(211, 216, 232);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

*{
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0d1224;
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 1;
}

#sticky-card-3 {
  --index: 1;
}

#sticky-card-4 {
  --index: 1;
}

#sticky-card-5 {
  --index: 1;
}
#sticky-card-6 {
  --index: 1;
}

#sticky-card-7 {
  --index: 1;
}
.sticky-card {
  // padding-top: calc(var(--index) * 2.5rem);
  top: calc(var(--index) * 6rem);
}

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #111; 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #111; 
}